.card {
  background-color: $grey;
  border: 3px solid $black;
  padding: 20px;
  border-radius: 12px;
  @include flexColumn;
  row-gap: 12px;

  &__block {
    @include flexColumn;
    row-gap: 4px;

    b {
      color: $red;
      font-size: 18px;
    }

    p {
      color: $blue;
      font-size: 16px;
    }
  }
}

@media (max-width: $laptop) {
  .card {
    padding: 16px;
    row-gap: 8px;
  }
}

@media (max-width: $mob) {
  .card {
    padding: 12px;
    row-gap: 4px;
    grid-gap: 12px;

    &__block {
      row-gap: 2px;
      b {
        font-size: 16px;
      }
      
      p {
        font-size: 14px;
      }
    }
  }
}