.cards {
  display: flex;
  flex-direction: column;
  row-gap: 40px;
  margin-top: 80px;
}

.block {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  grid-gap: 40px;
}

.title {
  font-size: 32px;
  color: white;
  text-align: center;
  margin: 0 auto;
  margin-bottom: 24px;
}