@import '../../styles/settings/index';

.block {
  margin: 16px;
  @include flexColumn;
  row-gap: 6px;
}

.btn {
  border-radius: 4px;
  border-radius: 4px;
  background-color: $blue;
  width: fit-content;
  color: $white;
  font-size: 16px;
  line-height: 20px;
  padding: 12px;
  transition: all 0.2s ease;
}

.text {
  font-size: 14px;
  line-height: 18px;
}