$yellow: #ffcc00;
$black: #000000;
$white: #ffffff;
$blue: #1b4f72;
$red: #c0392b;
$grey: #c2d0d2;

$darkYellow: #b38f00;
$darkBlack: #121212;
$darkWhite: #e0e0e0;
$darkBlue: #1a3d5d;
$darkRed: #8b2c23;
$darkGrey: #6c7a7a;
